*, html {margin: 0; padding: 0;}

body {
    font: 14px Arial, sans-serif;
    outline: 0;
    vertical-align:baseline;
}

img {vertical-align: middle; border: 0; max-width: 100%; height: auto;}
@media \0screen {
    img {
        width: auto; /* for ie 8 */
    }
}

.clear {clear: both;}

.error-404{max-width:620px;}
.error-404 .title{font-size: 200%; color: #000; margin: 5px 0 15px; text-align: left;}
.error-404 .message{font-size:130.769%;color:#33362b;margin-bottom:25px}

.has-error {color: red; font-size: 12px;}

.no-results {padding: 20px 0;}

body > .container {padding-top: 80px;}

footer {padding: 20px 0; margin: 40px 0 0; border-top: 1px solid #ccc;}


.list .row {margin: 0 0 10px 0;}
.list .row a {font-size: 14px;}
.list .row .col-md-8 a {display: inline-block; min-width: 150px; margin-right: 10px;}

#student-view h1 {margin: 20px 0 20px;}
#student-view img {margin: 0 0 20px;}
#student-view .info p span:first-child {display: inline-block; width: 60px; font-weight: bold;}

.pager > li {margin: 0 5px;}