<div class="list">
    {% if rowset %}
        {% for row in rowset %}
            <div class="row">
                <div class="col-md-8">
                    <a href="/student/{{ row.id }}">
                        <span>{{ row.name }}</span>
                        <span>{{ row.last_name }}</span>
                    </a>

                    <span>{{ row.group }}</span>
                    <span>{{ row.faculty }}</span>
                </div>

                <div class="col-md-4 text-right">
                    <a class="btn btn-link" href="/edit/{{ row.id }}">Edit</a>
                    <a class="btn btn-danger" href="/delete/{{ row.id }}">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-results">No results by request</div>
    {% endif %}

	{{ oPager.render()|raw }}
</div>
