<div id="student-view">
	<a href="/students">&larr; Go back to list</a> or <a href="/edit/{{ row.id }}">Edit student</a>

	<h1>{{ row.name }} {{ row.last_name }}</h1>

	<div class="row">
        {% if row.photo %}
		<div class="col-md-5">
			<img alt="{{ row.name }} {{ row.last_name }}" src="{{ row.photo }}" />
		</div>
        {% endif %}

		<div class="col-md-7 info">
			<p><span>Sex:</span><span>{{ aSex[row.sex] }}</span></p>
			<p><span>Group:</span><span>{{ row.group }}</span></p>
			<p><span>Faculty:</span><span>{{ row.faculty }}</span></p>
			<p><span>Phone:</span><span>{{ row.phone }}</span></p>
			<p><span>Email:</span><span>{{ row.email }}</span></p>
		</div>
	</div>

</div>
